:root {
  --primary-bg-color: blanchedalmond;
  --fixed-font-size: 16px;
}

/* it is use for reusable contain*/


.container{
    width: 100%;
    display: flex;
}

/* header area */
.header {
  margin-top: 10px;
  border: 1px solid black;
  background-color: blanchedalmond;
  position: sticky;
  top: 0;
  
}

p.name {
  font-size: 20px;
  color: cadetblue;
  padding-left: 50px;
  font-weight: bold;
}

p.resume {
  font-size: 20px;
  color: burlywood;
  padding-left: 50px;
  font-weight: bold;
}

.main {
  border: 1px solid orange;
  margin-top: 10px;
  background-color: rgb(146, 46, 6);
  height: auto;
  width: 60%;
  margin-left: 10px;
}

p.edu {
  padding-left: 20px;
  color: aqua;
}

p.exp {
  padding-left: 20px;
  color: skyblue;
}

.contactinfo{
    color: brown;
    font-size: 20px;
 
    
}

#contact{
    width: 25%;
    color: brown;
    background-color: aquamarine;
    margin: 0px;
    margin-top: 10px;
    padding-left: 20px;
    width: 300px;

}

.info{
    color: rgb(3, 9, 9);
}


.footer
{
    border: 2px solid black;
    margin-top: 10px;
    text-align: center;
    background-color: var(--primary-bg-color);
    font-size: 30px;
    position: absolute;
    width: 100%;
    height: 50px;
    padding-top: 10px;
}


.table
{
  display: flex;
  width: 25%;
  border: 2px green double ;
  margin-top: 10px;
  margin-left: 10px;
  display: block; 
  background-color: coral; 
}

.th,td,tr{
  border: rgb(5, 35, 47) 2px solid;
}